body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.comprar {
  background-color: #a8f;
  border-radius: 4px;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item {
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  display: grid;
  padding: 20px;
}
